@import url(variables.css);

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.pagina_in{
  background-color: var(--color_fondo_pagina);
}
.header{
  display: flex;
  width: 100%;
  height: 55px;
  background-color: var(--color_fondo_header);
  box-shadow: 0 5px 10px rgba(0,0,0,0.1) ;
}
.container_header{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  width: 1170px;
  margin: 0 auto;
}
.container_left{
  display: flex;
  align-items: center;
  height: 55px;
  width: 400px;
}
.container_left__logo{
  width: 35px;
  height: 35px;
  margin-right: 15px;
  border-radius: 4px;
  cursor: pointer;
}
.search{
  width: 310px;
  height: 35px;
  background-color: var(--color_fondo_search);
  display: flex;
  align-items: center;
  border-radius: 8px;
}
.search__icono{
  margin: 0 15px;
  color: var(--color_gris_claro);
}
.search__barra-buscador{
  background-color: transparent;
  outline: none;
  border: none;
  height: 28px;
  width: 100px;
  font-size: 13px;
  font-weight: 500;
}
.container_right{
  display: flex;
  align-items: center;
  justify-content: end;
  height: 55px;
  width: 600px;
  cursor: pointer;
}
.container_icono{

  min-width: 85px;
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--color_container_icono);
  border-bottom: 2px solid var(--color_blanco);
  transition: 1s;
  padding: 0 5px;
}
.container_icono__iconos{
  font-size: 1.3rem;
}
.container_icono:nth-child(1){
  border-bottom: 2px solid var(--color_border_container_icono);
}
.container_icono:hover{
  border-bottom: 2px solid var(--color_border_container_icono);
  color: var(--color_negro);
}
.container_perfil{
  margin-left: 18px;
}
.container_perfil__foto{
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.container_perfil__activo{
  position: relative;
}
.container_perfil__activo::after{
  content: '';
  height: 10px;
  width: 10px;
  background-color: var(--color_estado_perfil);
  border: 3px solid var(--color_blanco);
  border-radius: 50%;
  top: -20px;
  right: -4px;
  position: absolute;
}
/* .perfil_desplegable{
  width: 320px;
  height: 400px;
  position: absolute;
  top: 55px;
  right: 230px;
  background-color: var(--color_fondo_perfil_desplegado);
} */
.container{
  max-width: 1200px; 
  width: 100%;
  margin: 20px auto;
  padding: 0 10px;
}
.content_layout{
  display: grid;
  grid-template-areas:'sidebar-left content sidebar-right' ;
  grid-template-columns: 280px 1fr 280px;
  height: 100vh;
  column-gap: 16px;
}
.sidebar-left{
  grid-area: sidebar-left;
}
.sidebar-left__caja-perfil{
  width: 100%;
  height: 360px;
  background-color: var(--color_blanco);
}
.caja-perfil__imagen{
  width: 100%;
  height: 83px;
}
.caja-perfil__perfil-informacion{
  width: 100%;
  height: 193px;
  padding: 0 25px;
}
.perfil-informacion__imagen{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 5px solid var(--color_blanco);
  margin-top: -45px;
}
.perfil-informacion__nombre{
  font-size: 20px;
  font-weight: 600;
  color: var(--color_negro);
}
.perfil-informacion__profecion{
  font-size: 14px;
  font-weight: 500;
  color: var(--color_gris_claro);
}
.perfil-informacion__lista{
  color: var(--color_gris_claro);
  list-style: none;
  margin: 20px 0;
}
.perfil-informacion__vista{
  width: 100%;
  margin: 5px 0;
  font-size: 13px;
}
.perfil-informacion__visitas{
  float: right;
  color: var(--color_visitas_azules);
}
.sidebar-left__link{
  display: flex;
  align-items: center;
  border-top: 1px solid var(--color_linea);
  width: 100%;
  height: 56px;
  margin-top: 20px;
  cursor: pointer;
}
.links{
  display: flex;
  flex-basis: 50%;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 16px;
  color: var(--color_links);
  width: 140px;
  height: 47px;
}
.links:nth-child(1){
  border-right: 1px solid var(--color_linea);
  
}
.links__iconos--azul{
  color: var(--color_azul);
  padding-right: 8px;
  
}
.links__iconos--amarillo{
  color: var(--color_amarillo);
  padding-right: 8px;
}
.sidebar-left__actividad{
  background-color: var(--color_blanco);
  padding: 5px 25px;
  margin: 12px 0;
  width: 280px;
}
.actividad__titulo{
  color: var(--color_gris_claro);
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0 10px;
}
.actividad__recientes{
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: var(--color_texto_actividad);
  margin: 4px 0;
  padding: 4px 2px;
  transition: 0.5s;
  cursor: pointer;
}
.recientes__icono{
  font-size: 1.2rem;
  margin-right: 10px;
  font-weight: 600;
  color: var(--color_azul);
}
.actividad__recientes:hover{
  background-color: var(--color_celeste_hover);
}
.actividad__descubre-mas{
  border-top: 1px solid var(--color_linea);
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
  height: 47px;
}
.descubre-mas__texto{
  color: var(--color_azul);
  display: inline-block;
  margin: 18px 0;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
}
.descubre-mas__texto:hover{
  background-color: var(--color_celeste_hover);
}
.content{
  grid-area: content;
}
.crear-publicacion{
  background-color: var(--color_blanco);
}
.crear-publicacion-input{
  padding: 20px 25px 10px;
  display: flex;
  align-items: flex-start;
}
.crear-publicacion-input__imagen{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 12px;
}
.crear-publicacion-input__escribir{
  width: 100%;
  border: 0;
  outline: none;
  background: transparent;
  margin-top: 8px;
  resize: vertical;
  overflow: auto;
  font-weight: 500;
}
.crear-publicacion-links{
  display: flex;
  align-items: flex-start;
  border-top: 1px solid var(--color_linea);
}
.links__publicar{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.links__publicar:nth-child(4){
  background-color: var(--color_azul);
  color: var(--color_blanco);
}
.links__publicar:hover{
  background-color: var(--color_hover_gris);
}
.links__publicar:nth-child(1){
  border-right: 1px solid var(--color_linea);
}
.links__publicar:nth-child(2){
  border-right: 1px solid var(--color_linea);
}

.links__publicar__icono{
  color: var(--color_azul);
  font-size: 18px;
  margin-right: 5px;
}
.links__publicar__texto{
  font-size: 14px;
}
.ordenar{
  display: flex;
  align-items: center;
  margin: 10px 0;
  color: var(--color_gris_claro);
}
.ordenar__linea{
  flex: 1;
  border: 0;
  height: 1px;
  background-color: #ccc;
}
.ordenar__texto{
  font-size: 13px;
  padding: 5px;
}
.ordenar__icono{
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: var(--color_gris_oscuro);
  margin-right: 3px;
}
.publicar{
  background-color: var(--color_blanco);
  padding: 20px 25px 5px;
  margin: 5px 0 15px;
}
.publicar-autor{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  height: 63px;
}
.publicar-autor__imagen{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 5px;
}
.publicar-autor__informacion{
  display: flex;
  flex-direction: column;
  color: var(--color_gris_claro);
}
.informacion-nombre{
  font-size: 18px;
  color: var(--color_autor_nombre);
  font-weight: 600;
}
.informacion-descripcion{
  font-size: 13px;
}
.informacion-tiempo{
  font-size: 13px;
}
.publicar__parrafo{
  font-size: 14px;
  margin-bottom: 15px;
  color: var(--color_gris_oscuro);
}
.publicar-estado{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  border-bottom: 1px solid var(--color_linea);
  padding-bottom: 6px;
  color: var(--color_gris_claro);
}
.publicar-estado__left{
  display: flex;
  align-items: center;
}
.left__estado{
  display: flex;
  align-items: center;
}
.left__estado__icono{
  margin-right: 5px;
  font-size: 14px;
}
.left__estado__icono:nth-child(1){
  color: var(--color_gris_claro);
}
.left__estado__icono:nth-child(2){
  color: var(--color_rojo);
}
.left__estado__icono:nth-child(3){
  color: var(--color_verde);
}
.left__descripcion{
  margin-left: 5px;
}
.publicar-estado__right{
  display: flex; 
  align-items: center;
}
.publicar-actividad{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 14px;
  font-weight: 500;
}
.publicar-actividad-perfil__foto{
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.publicar-actividad-perfil__flecha{
  font-size: 28px;
  color: var(--flecha);
}
.publicar-actividad-link{
  display: flex;
  align-items: center;
  color: var(--color_gris_claro);
}
.publicar-actividad-link__texto{
  margin-left: 8px;
}
.publicar-actividad-link__icono{
  font-size: 20px;
}
.sidebar-right{
  grid-area: sidebar-right;
}
.sidebar-noticia{
  background-color: var(--color_blanco);
  padding: 10px 25px;
}
.sidebar-noticia__icono{
  font-size: 15px; 
  float: right;
  margin-top: 15px;
  color: var(--color_azul);
}
.sidebar-noticia__titulo{
  font-size: 18px;
  font-weight: 600;
  color: #333;
  margin: 10px 0 30px;
}
.sidebar-noticia__texto{
  display: block;
  font-size: 12px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: -5px;
  text-decoration: none;
  color: var(--color_gris_oscuro);
}
.sidebar-noticia__tiempo{
  font-size: 12px;
  color: var(--color_gris_claro);
}
.sidebar-noticia__texto--azul{
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: var(--color_azul);
  font-weight: 500;
  margin: 20px 0 10px;
}
.sidebar-pegajoso{
  position: sticky;
  top: 25px;
}
.anuncio-cebra{
  background-color:var(--color_blanco);
  padding: 15px 25px;
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
  color: var(--color_gris_claro);
}
.anuncio-cebra__palabra{
  float: right;
  font-weight: 500;
  align-items: end;
}
.anuncio-cebr__parrafo{
  margin-top: 30px;
  margin-bottom: 10px;
}
.anuncio-cebra__foto{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 4px;
}
.anuncio-cebra__marca-info{
  display: block;
  font-weight: 500;
  margin-top: 10px;
}
.anuncio-cebra__leer-mas{
  display: inline-block;
  border: 1px solid var(--color_azul);
  border-radius: 30px;
  padding: 5px 15px;
  color: var(--color_azul);
  font-weight: 500;
  margin: 20px auto 10px;
  text-decoration: none;
}
.sidebar-enlaces_útiles{
  padding: 15px 25px;
  text-align: center;
}
.sidebar__links{
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  text-decoration: none;
  color: var(--color_gris_claro);
}
.sidebar-derechos-autor{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-top: 10px;
  font-weight: 500;
}
.sidebar-derechos-autor__logo{
  width: 18px;
  height: 18px;
  margin-right: 4px;
}
.sidebar-derechos-autor__texto{
  color: var(--color_gris_claro);
}